<div class="top-body">
<h1><b>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers!!</b></h1>

  	<p>
  		In <span class="glyphicon glyphicon-book" aria-hidden="true"></span><b>Bookers,</b><br>
		you can share and exchange your opinions , inpressions , and emotions<br>
		about varioius books!
  	</p>

<%= link_to "Log in", new_user_session_path %>
<%= link_to "Sign in", new_user_registration_path %>

</div>