/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";


.header{
	position: relative;
	background-color: black;
	color: white;
}

.head-top{
	font-size: 20px;
}

header .navbar-left span{
	font-size: 20px;
    padding-top: 10px;
}

.navbar-nav > li > a{
	color: white;
	/*position: absolute;*/
}

.col-xs-1, .col-xs-2, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,  .col-xs-11, .col-xs-12{
	float: none;
}

h2{
	font-size: 30px;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
	padding: 4px;
}

.btn-info{
	color: #666;
	margin-left: -83px;
}

.btn-success{
	color: #666;
}

.btn-danger{
	color: #666;
}

.edit-enter{
	border-color: #ccc;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
	background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}

.body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5px;
}

.top-body{
	font-size: 13px;
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 33px;
	line-height: 18px;
}

.edit-top{
	margin: 15px 45px;
}

.edit-body{
	font-size: 13px;
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 20px;
	line-height: 18px;
}

.edit-text{
	margin: 10px 400px 0px;
}

.edit-enter{
	margin-top: 10px;
	color: #666;
}

.edit-enter-book{
	margin: 15px 400px;
	color: #666;
}

.index-body{
	font-size: 13px;
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 33px;
	line-height: 18px;
}


.topic-body{
	font-size: 13px;
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 33px;
	line-height: 18px;
}

