/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";


.header{
	position: relative;
	background-color: black;
	color: white;
}

.navbar-nav > li > a{
	color: white;
	/*position: absolute;*/
}

.edit-enter{
	border-color: #ccc;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
	background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}

.top-body{
	font-size: 13px;
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 33px;
	line-height: 18px;
}


.edit-body{
	font-size: 13px;
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 33px;
	line-height: 18px;
}

.edit-text{
	margin: 10px 0 0px;
}

.edit-enter{
	margin-top: 10px;
	color: #666;
}

.index-body{
	font-size: 13px;
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 33px;
	line-height: 18px;
}


.topic-body{
	font-size: 13px;
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 33px;
	line-height: 18px;
}




