<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Bookers</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

  </head>

  <body>
  	<div class="header" id="header">
      <nav class="navbar navbar-main navbar-shadow" role="navigation" id="slide-nav">
        <div class="container relative">
          <div class="navbar-header">
            <a class="navbar-logo" href="/">
           
            </a>
   
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
              <header class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
              <nav class="nav navbar-nav navbar-left">
                <span class="glyphicon glyphicon-book">Bookers</span>
              </nav>
              <% if user_signed_in? %>
              <nav>
                <ul class="nav navbar-nav navbar-right">
                  <li><a class="glyphicon glyphicon-home" href="/users/books"> Home</a></li>
                  <li><a class="glyphicon glyphicon-user" href="/users"> Users</a></li>
                  <li><a class="glyphicon glyphicon-book" href="/books"> Books</a></li>
                  <li><a class="glyphicon glyphicon-log-out" rel="nofollow" data-method="delete" href="/users/sign_out"> logout</a></li>
                </ul>
              </nav>
            </div>
              <% else %>
            <nav>
              <ul class="nav navbar-nav navbar-right">
                  <li><a class="glyphicon glyphicon-home" href="/"> Home</a></li>
                  <li><a class="glyphicon glyphicon-link" href="/"> About</a></li>
                  <li><a class="glyphicon glyphicon-edit" href="/users/sign_up"> sign up</a></li>
                  <li><a class="glyphicon glyphicon-log-in" href="/users/sign_in"> login</a></li>
              </ul>
            </nav>
              <% end %>
               
            </ul>
          </div>
        </div>
      </nav>
    </div>
     <%= yield %>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
